.TrafficLight {
    display: flex;
    flex-direction: column;
}

.TrafficLight .light {
    width: 64px;
    height: 64px;
    display: inline-block;
    border-radius: 50%;
    margin: 10px;
    opacity: 0.2;
}

.TrafficLight .light.active {
    opacity: 1;
}

.TrafficLight .light.red {
    background-color: red;
}
.TrafficLight .light.yellow {
    background-color: yellow;
}
.TrafficLight .light.green {
    background-color: green;
}
